[Unit]
Description=Node-Print Bridge Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /usr/lib/node_modules/@asitha/node-print/dist/cli.js start
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-print

[Install]
WantedBy=multi-user.target
